@page "/Pages/SSO/login"

<h3>Login</h3>

<form action="/action_page.php">
  <label for="fname">ID</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">PS</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 
